.card-1 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-1-bg.png');
  background-size: cover;
}

.card-2 {
  display: flex;
  justify-content: flex-end;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-2-bg.png');
  background-size: cover;
}

.card-3 {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-3-bg.png');
  background-size: cover;
}

/* Write your code here. */

.banner-card {
  border-style: none;
  border: 19px solid #cbced2;
  border-radius: 10px;
  margin: 0px 10px;
  padding: 20px;
  width: 100%;
}

.heading {
  color: #326a9d;
  font-family: roboto;
  font-weight: bold;
  font-size: 32px;
}

.description {
  color: #64748b;
  font-family: roboto;
  font-size: 24px;
}
.show-more {
  color: #326a9d;
  border: 2px solid #326a9d;
  border-radius: 20px;
  background-color: #ffffff;
}

@media (min-width: 768px){
  .banner-card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
}